# Dependencies
node_modules/
**/node_modules/

# React Native
android/.gradle/
android/app/build/
android/build/

# Metro / bundler cache
*.bundle
.metro-cache/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Build artifacts
coverage/
dist/

# WPS doc backups
~$*.docx
